@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root {
    /* Update from JS. Fixes an inconsistency in some mobile browsers */
    --vh: 1vh;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans;
    font-size: 18px;
}

h2 {
    position: absolute;
    top: 50%;
    transform: translateY(-100%) translateX(-90%);
    left: 50%;
    white-space: nowrap;
    color: #fff;
    font-size: 6vh;
}

#gl-canvas.zoomed ~ h2 {
    display: none;
}

#gl-canvas {
    width: 100vw;
    height: calc(100 * var(--vh));
    touch-action: none;
}

#info-checkbox {
    display: none;
}

#info-button, #home-button {
    top: 3vh;
    height: 40px;
    user-select: none;
    -webkit-user-select: none;
}

#info-button {
    left: 3vw;
}

#home-button {
    right: 3vw;
}

#info-button, #info h1, #home-button {
    font-family: 'Cookie', cursive;
    font-size: 36px;
    margin: 0;
}


.button, #info  {
    background: rgba(50, 50, 50, 0.5);
    color: #eee;
    fill: #eee;
}

.button, #info {
    position: absolute;
    border-radius: 10px;
    padding: 10px;
    border: solid;
}

/* For some reason .button:hover doesn't seem to register on FF */
#home-button:hover, #info-button:hover,
#info-checkbox:checked ~ #info-button,
#power-plus:hover, #power-minus:hover {
    background: #eee;
    border-color: #222;
    color: #222;
    fill: #222;
}

#info-checkbox:checked ~ #info {
    visibility: visible;
    width: 300px;
}

#info-checkbox:checked ~ #zoom-instruction {
    display: none;
}

#info {
    left: 3vw;
    top: calc(3vh + 60px + 3vh);
    width: 0px;
    max-height: 60vh;
    max-width: 80vw;
    visibility: hidden;
    overflow-y: auto;
    transition: width 0.7s;
}

#power-knob {
    position: absolute;
    bottom: 3vw;
    right: 3vw;
    background: #555;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    user-select: none;
    -webkit-user-select: none;
    touch-action: none;
}

.shaft {
    position: absolute;
    top: 50%;
    background: #333;
    width: 100%;
    height: 10px;
    transform: translateY(-50%);
    touch-action: none;
}

#power-plus, #power-minus {
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    width: 20%;
    padding: 2.5%;
    height: 20%;
}


#power-minus {
    top: 60%;
}
